@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: var(--font-sans);
}
:root{
    --window-width:clamp(40rem,calc(50vw + 5rem),50rem);
    --window-height:clamp(25rem,calc(50vh + 5rem),35rem);
    --icon-container-margin:0 clamp(5rem,calc(4vw - 3rem),10rem);
    --icon-button-width:clamp(45px,calc(4vw + 10px),78px);
    --title-padding: clamp(0rem,calc(1vh + 2rem),3.5rem);
    --title-size: clamp(3.5rem,calc(10vw + 1rem),5rem);
    --subtitle-size: clamp(1rem,calc(3vw + .3rem),1.55rem);
    --subtitle-margin: clamp(2rem,calc(2vw + 1rem),4rem);
}